Repository thierrymichel/data-locales: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint

.lintstagedrc.yml:

linters:
'src/**/*.ts':
  - prettier --write
  - npm run lint
  - git add
'*.{json,md}':
  - prettier --write
  - git add

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
Due: prettier --write

ci: :construction_worker: add CircleCI
  .circleci/config.yml
Due: none

ci: :green_heart: use npm (instead of yarn)
  .circleci/config.yml
Due: none

ci: :green_heart: add coverage
  .circleci/config.yml
Due: none

chore: :bento: add badges
  README.md
Due: prettier --write

feat: :sparkles: update existing locales
  __tests__/run.test.ts
  src/index.ts
Due: prettier --write, npm run lint

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

style: :art: Write formatted JSON files
  src/index.ts
Due: prettier --write, npm run lint

chore(release): 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: :ok_hand: sort locales keys
  src/index.ts
Due: prettier --write, npm run lint

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: :sparkles: add "sourceRoot" option
  __tests__/entries/folder/sub.js
  __tests__/run.test.ts
  package-lock.json
  package.json
  src/cli.ts
  src/index.ts
Due: prettier --write, npm run lint

chore(release): 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
